
<div id="fb" class="fbPostsContainer">
<h2>Facebook Posts</h2>
</div>

<!--
<table class="table table-hover" style="max-width:70%">
    <h2>Facebook Posts</h2>
    <thead>
        <tr>
            <th>id</th>
            <th>created_time</th>
            <th>full_picture</th>
            <th>Total Likes</th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>
*/
<div>
</div>

<div id="test" style="width:800px; height:auto;border:1px solid red; margin:0 auto; padding-bottom:100px">
    <div style="width:100%; text-align:center;color:white; font-size:bold">
        THIS IS MESSAGE
    </div>
    <div style="width:800px;text-align:center; border:1px solid black">
    <img style="width:auto;height:270px; border:1px solid black; display:inline-block;   " src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/12227211_1027764680608547_7713026352965914861_n.jpg?oh=c5f909e66bb0486bbf786ddeeec56bfd&oe=57D1E7D1">
</div>
<div style="width:100%;margin:0 auto; padding: 0">
     <div style=" float:left;width:33%;border: thin solid black;text-align:center">
         Date
     </div>
     <div style=" float:left;width:33%;border: thin solid black;text-align:center">
         Comments
     </div>
     <div style=" float:left;width:33%;border: thin solid black;text-align:center">
          Likes
     </div>
 </div>
</div>

-->
