<!-- FEED STUFF-->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/style.css">
<!-- END FEED STUFF-->

<div class="nav-container">
    <nav class="nav-inner transparent">

        <div class="navbar">
            <div class="container" style="position:fixed; top:0; height:50px; z-index:2000; background-color:white; width:100%">
                <div class="row">

                    <div class="brand" style="padding: 0 !important;">
                        <a href="/#" style="color:#909090; margin-left: 40px;">Smixtr</a>
                    </div>

                    <div class="navicon">
                        <div class="menu-container">
                        </div>
                    </div>
                </div>



                <div class="collapse navbar-collapse navM" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown " style="right: 30px; top: 10px; ">

                            <a href="#" style="width:100px; height:100px;border-radius:50px; padding:0 !important;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img style="width:100px; height:100px;border-radius:50px; border:3px solid gray" src="/images/about-img.jpg" />
                            </a>
                            <ul class="dropdown-menu" style="font-size:15px">
                                <li><a href="/#feed" style="font-size:15px">Feed</a></li>
                                <li><a href="/#profile" style="font-size:15px">Profile</a></li>
                                <li><a href="/#" style="font-size:15px">Change Password</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/#logout" style="font-size:15px">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
</div>

</nav>
</div>


<!-- Portfolio section

================================================== -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div style="position:fixed; left:0; width:35px;" id="grande">
                <ul class="social-icon wow fadeInUp verticalM" data-wow-delay="0.6s">
                    <li>
                        <a id="fbFilter" data-type="facebook" class="fa fa-facebook" style="font-size:24px; border:1px solid"></a>
                    </li>
                </ul>
                <ul class="social-icon wow fadeInUp verticalM" data-wow-delay="0.6s">
                    <li>
                        <a id="twFilter" data-type="twitter" class="fa fa-twitter" style="font-size:24px; border:1px solid"></a>
                    </li>
                </ul>
                <ul class="social-icon wow fadeInUp verticalM" data-wow-delay="0.6s">
                    <li>
                        <a id="igFilter" data-type="instagram" class="fa fa-instagram" style="font-size:24px; border:1px solid"></a>
                    </li>
                </ul>
                <ul class="social-icon wow fadeInUp verticalM" data-wow-delay="0.6s">
                    <li>
                        <a id="tbFilter" data-type="tumblr" class="fa fa-tumblr" style="font-size:24px; border:1px solid"></a>
                    </li>
                </ul>
                <ul class="social-icon wow fadeInUp verticalM" data-wow-delay="0.6s">
                    <li>
                        <a id="gtFilter" data-type="github" class="fa fa-github" style="font-size:24px; border:1px solid"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">


            <!-- iso section -->

            <!-- iso box section -->

            <div class="iso-box-section wow fadeInUp" data-wow-delay="2">
                <div id="posts">
                </div>
            </div>
        </div>



    </div>
</section>
<script>
    /*
        $(document).ready(function(){
            $('#loading-div').css('display','none');
        });*/
</script>
