<!-- Home -->
<section id="templatemo_home">
  <div class="container">
    <div class="templatemo_home_inner_wapper">
      <!-- <div style="background-image:" -->
      <h1 class="text-center">  <!--<i class="fa fa-mobile-phone">--></i> SMIXTR </h1>
    </div>
    <div class="templatemo_home_inner_wapper">
      <h2 class="text-center">Join us</h2>
      <p class="text-center">
        Where all comes together
      </p>
    </div>
    <div class="templatemo_home_inner_wapper btn_wapper">
      <div class="col-sm-6">
        <a id="btnTumblr" class="btn col-xs-12 scroll_effect shadow-top-down">
          <i class="fa fa-align-justify"></i> Login
        </a>
      </div>
      <div class="col-sm-6">
        <a href="#templatemo_download" class="btn col-xs-12 scroll_effect shadow-top-down">
          <i class="fa fa-download"></i> Social Networks
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Download -->
<section id="templatemo_download">
  <div class="container">
    <header class="template_header">
      <h1 class="text-center"><span>...</span> Download <span>...</span></h1>
    </header>
    <div class="templatemo_download_text_wapper">
      <p>
        asdfghjkl
      </p>
    </div>
    <div class="col-xs-12">
      <h2>20</h2>
    </div>
    <div class="col-xs-12">
      <p>Over 15 users on Google play store</p>
    </div>
    <div class="col-xs-12">
      <a href="#" class="shadow-top-down"><img src="images/download_btn.png" /></a>
    </div>
  </div>
</section>
<!-- Contact -->
<section id="templatemo_contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <header class="template_header">
          <h1 class="text-center"><span>...</span> Login <span>...</span></h1>
        </header>
      </div>
    </div>
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input id="txtEmail" type="text" name="email" class="form-control" id="contact-name" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
          <input id="txtPassword" type="password" name="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-6">
          <button type="button" class="form-control" id="btnLogin">Login</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills social">
          <li><a href="#" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="#" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
          <li><a href="#" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
