<section id="templatemo_home">
    <div class="container">
        <div class="templatemo_home_inner_wapper">
            <!-- <div style="background-image:" -->
        </div>
        <div class="templatemo_home_inner_wapper">
          <!-- <div style="background-image:" -->
          <h1 class="text-center">  <!--<i class="fa fa-mobile-phone">--></i> Profile </h1>
        </div>
        <div class="templatemo_home_inner_wapper">
            <table id="tableProfile">
                <tr>
                    <td>ID</td>
                    <td>
                        <span id="txtID"></span>
                    </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>
                        <span id="txtUsername"></span>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <span id="txtPassword"></span>
                    </td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>
                        <span id="txtType"></span>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span id="txtStatus"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</section>
