<section id="templatemo_home">
    <div class="container">
        <div class="templatemo_home_inner_wapper">
        </div>
        <div class="templatemo_home_inner_wapper">
          <h1 class="text-center"></i> Welcome </h1>
        </div>
        <div class="templatemo_home_inner_wapper">
            <div class="row">
                <div class="col-sm-6">
                    <a id="btnTumblr" class="btn col-xs-12 scroll_effect shadow-top-down">
                    <i class="fa fa-align-justify"></i> tumblr
                    </a>
                </div>
                <div class="col-sm-6">
                    
                    <a id="btnTwitter" class="btn col-xs-12 scroll_effect shadow-top-down">
                        <i class="fa fa-align-justify"></i> twitter
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a id="btnFacebook" class="btn col-xs-12 scroll_effect shadow-top-down">
                    <i class="fa fa-align-justify"></i> Facebook
                    </a>
                </div>
                <div class="col-sm-6">
                    <a id="btnInstagram" class="btn col-xs-12 scroll_effect shadow-top-down">
                        <i class="fa fa-align-justify"></i> Instagram
                    </a>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a id="btnGithub" class="btn col-xs-12 scroll_effect shadow-top-down">
                        <i class="fa fa-align-justify"></i> Github
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a id="btnGoBack" class="btn col-xs-12 scroll_effect shadow-top-down" style="background-color: #275267; color: white;">
                        <i class="fa fa-align-justify"></i> Go back
                    </a>
                </div>
            </div>
        </div>
        <table id="tableProfile">
            <tr>
                <td>ID:</td>
                <td>
                    <span id="txtID"></span>
                </td>
            </tr>
            <tr>
                <td>Username: &nbsp;</td>
                <td>
                    <span id="txtUsername"></span>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <span id="txtPassword"></span>
                </td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>
                    <span id="txtType"></span>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <span id="txtStatus"></span>
                </td>
            </tr>
        </table>
    </div>
</section>
